@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111010;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background: #b9b9be;
}

::-webkit-scrollbar-thumb {
  background: #77777b;
}

::-webkit-scrollbar-thumb:hover {
  background: #43434b;
}

/* View Transitions */
::view-transition-group(root) {
  animation-timing-function: var(--expo-in);
}

::view-transition-new(root) {
  mask: url(/assets/theL.gif) center/cover no-repeat;
  animation: scale 1.5s;
}

.dark::view-transition-old(root),
::view-transition-old(root) {
  animation: scale 1.5s;
}

@keyframes scale {
  0% {
    mask-size: 0;
  }
  10% {
    mask-size: 40vmax;
  }
  90% {
    mask-size: 40vmax;
  }
  to {
    mask-size: 2000vmax;
  }
}

